@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: opensans, sans-serif;
  margin: 0;
  font-size: 15px;
}

.header {
  display: block;
  background-color: #0a0e34;
  position: relative;
  min-width: 320px;
}

.header::after {
  content: "";
  background-image: url(../images/football_767.jpg);
  opacity: 0.1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 33px 20px 82px 20px;
  width: 100%;
  margin: 0;
}

.header__logo__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__svg__logo__icon {
  fill: #ffffff;
  width: 41vw;
}

.header__main__title, .header__title {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.header__main__title {
  margin-top: 135px;
}

.header__title {
  margin-top: 30px;
  margin-left: 45px;
}

.download__items__container {
  margin-top: 85px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.download__button {
  display: flex;
  width:100%;
  height: 35px;
  border: none;
  background-color: #5e42b0;
  border-radius: 17px;
  align-items: center;
}

.download__item__container {
  display: flex;
  margin-left: 29%;
}

.download__item:nth-child(n + 2) {
  margin-top: 15px;
}

.download__svg__logo__icon {
  width: 20px;
  fill:#ffffff;
}

.downlad__item__text {
  margin-left: 8px;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.downlad__item__text__lable__2 {
  font-weight: bold;
}

.athlets-players__card {
  position: relative;
}

.athlets-players__card:nth-child(1):after {
  content: "";
  background-image: url(../images/footballer_192.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position: top 80px center;
  background-size: 50% auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.athlets-players__card__content {
  box-sizing: border-box;
  padding: 25px 0 0 0;
  width: 100%;
  margin: 0;
}

.athlets-players__card__title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e7e7e7;
  margin: 0 0 0 20px;
  line-height: 1;
}

.athlets-players__block {
  padding: 60px 0 55px 0;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.athlets-players__block:nth-child(3) {
  background-color: #f5f4f9;
}

.athlets-players__block:nth-child(4) {
  background-color: #5e42b0;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.athlets-players__block__title__container {
  display: flex;
  margin-left: 20px;
}

.athlets-players__block__number {
  font-size: 14x;
  font-weight: bold;
  color: #000000;
}
.athlets-players__block__number::after {
  content: "";
  height: 4px;
  width: 15px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
}

.athlets-players__block__number_03::after {
  content: "";
  height: 4px;
  width: 15px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
}

.athlets-players__block__titel {
  margin: 0 0 0 10px;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c1c1c1;
  line-height: 1;
}

.athlets-players__block__text {
  margin: 15px 20px 0 20px;
}

/*.athlets-players__block__paragraph {
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}*/
