@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: opensans, sans-serif;
  margin: 0;
  font-size: 15px;
}

.header {
  background-color: #0a0e34;
  position: relative;
  min-width: 320px;
}

.header::after {
  content: "";
  background-image: url(../images/football_767.jpg);
  opacity: 0.1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 33px 20px 83px 20px;
  width: 100%;
  margin: 0;
}

.main-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-logo-svg {
  fill: #ffffff;
  width: 135px;
}

.header__title-container {
  margin-top: 122px;
  margin-left: auto;
  margin-right: auto;
}

.header__main-title,
.header__sub-title {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.header__sub-title {
  margin-top: 16px;
  margin-left: 45px;
  line-height: 1.2;
}

.header__download-items-list {
  margin-top: 84px;
}

.download-items-list {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.download__item:nth-child(n + 2) {
  margin-top: 15px;
}

.download__button {
  display: flex;
  width: 100%;
  max-width: 280px;
  height: 35px;
  border: none;
  background-color: #5e42b0;
  border-radius: 17px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.download__button:active {
  background-color: #493192;
}

.download__button-content {
  display: flex;
  margin-left: 29%;
  height: 100%;
}

.download__logo {
  width: 24px;
  fill: #ffffff;
}

.download__item-text {
  margin-left: 6px;
  padding-top: 6px;
  font-size: 8px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.download__item-paragraph {
  padding: 0;
  margin: 0;
}

.download__item-paragraph_bold {
  font-weight: bold;
}

.main__container {
  min-width: 320px;
}

.athlets-players__card {
  position: relative;
}

.athlets-players__image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 80px;
  width: 100%;
}

.athlets__image {
  width: 55%;
  max-width: 210px;
  height: 100%;
}

.athlets-players__content {
  box-sizing: border-box;
  padding: 17px 0 0 0;
  width: 100%;
  margin: 0;
}

.athlets-players__title {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #e7e7e7;
  margin: 0 0 0 20px;
  line-height: 1;
}

.athlets-players__rows-container {
  margin-top: calc(100px + 43vw);
}

.athlets-players__row {
  padding: 60px 0 40px 0;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background-color: #fafafa;
}

.athlets-players__row:first-child {
  padding-top: 82px;
  padding-bottom: 32px;
}

.athlets-players__row_lilac-bg {
  background-color: #f5f4f9;
}

.athlets-players__row_purple-bg {
  background-color: #5e42b0;
  color: #ffffff;
}

.athlets-players__row-title-container {
  display: flex;
  padding-left: 20px;
}

.athlets-players__row-number {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.athlets-players__row-number::after {
  content: "";
  height: 4px;
  width: 15px;
  background-color: #5e42b0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: flex;
}

.athlets-players__row-number_white-underline::after {
  background-color: #ffffff;
}

.athlets-players__row-title {
  margin: 0 0 0 8px;
  font-size: 23px;
  font-weight: bold;
  text-transform: uppercase;
  color: #c1c1c1;
  line-height: 1;
}

.athlets-players__row-text {
  margin: 23px 20px 0 20px;
}

.players__image {
  width: 95%;
  max-width: 410px;
  height: 100%;
}

.athlets-players__row_blue-bg {
  background-color: #090c35;
  color: #ffffff;
}

.athlets-players__row-number_purple {
  color: #8765dd;
}

.approach-card__image-number-container {
  position: relative;
}

.approach-card__image-container {
  min-height: 50vw;
}

.approach-card__image {
  width: 100vw;
  min-width: 300px;
}

.approach-card__number-container {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  display: flex;
  justify-content: center;
  bottom: -8px;
  left: 20px;
}

.approach-card__number {
  font-size: 14px;
  font-weight: bold;
  color: #f5f6f7;
  padding-top: 26px;
  line-height: 1;
}

.approach-card__number::after {
  content: "";
  height: 4px;
  width: 15px;
  background-color: #8f7bc8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  display: flex;
}

.approach-card__content {
  padding: 24px 20px 74px 20px;
}

.approach-card__title {
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e7e7e7;
  font-weight: bold;
  margin: 0;
}

.approach-card__text {
  margin-top: 12px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000000;
}

.approach-card__paragraph {
  margin: 0;
  letter-spacing: 1px;
}

.footer {
  background-color: #0a0e34;
  position: relative;
  min-width: 320px;
}

.footer::after {
  content: "";
  background-image: url(../images/game_767.jpg);
  opacity: 0.1;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer__container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 100px 20px 7px 20px;
  width: 100%;
  margin: 0;
}

.app-logo-container {
  display: flex;
  justify-content: center;
}

.app-logo {
  width: 22vw;
  max-width: 71px;
  height: 23vw;
  max-height: 73px;
  background: linear-gradient(#7f5edd, #51379b);
  display: flex;
  border: none;
  border-radius: 13px;
  align-items: center;
  justify-content: center;
}

.app-logo-svg {
  fill: #ffffff;
  width: 80%;
}

.footer__title {
  font-size: 32px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 0;
}

.footer__subtitle {
  font-size: 14px;
  color: #9b8ec1;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.footer__download-items-list {
  margin-top: 73px;
  padding: 0;
  list-style-type: none;
}

.footer__main-logo-container {
  margin-top: 80px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 641px) {
  .header::after {
    background-image: url(../images/football_1280.jpg);
  }

  .header__container {
    padding: 39px 20px 93px 20px;
  }

  .main-logo-svg {
    width: 205px;
  }

  .header__title-container {
    margin-top: 0;
  }

  .header__main-title,
  .header__sub-title {
    font-size: 55px;
  }

  .header__main-title {
    margin-top: 156px;
    margin-left: 65px;
  }

  .header__sub-title {
    margin-top: 0;
    margin-left: 174px;
    line-height: 74px;
  }

  .header__download-items-list {
    margin-top: 300px;
    display: flex;
    justify-content: center;
  }

  .download__item:nth-child(n + 2) {
    margin-left: 30px;
    margin-top: 0;
  }

  .download__button {
    display: flex;
    width: 40vw;
    max-width: 310px;
    min-width: 290px;
    height: 77px;
    border-radius: 37px;
    box-shadow: 10px 15px 25px black;
  }

  .download__button-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-right: 30px;
  }

  .download__logo {
    width: 43px;
  }

  .download__item-text {
    margin-left: 27px;
    padding-top: 20px;
    font-size: 14px;
  }

  .athlets__image-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 90px;
    width: 100%;
    left: -22vw;
  }

  .athlets__image {
    width: 65vw;
    max-width: 500px;
  }

  .athlets-players__content {
    padding-top: 72px;
  }

  .athlets-players__title {
    font-size: 80px;
  }

  .row_right-positioning,
  .athlets__title {
    padding-left: 35vw;
  }

  .row_left-positioning,
  .players__title {
    padding: 0 0 0 10px;
    width: 55vw;
  }

  .athlets-players__rows-container {
    margin-top: 0;
  }

  .athlets-players__row {
    padding: 35px 0 15px 0;
    font-size: 16px;
    line-height: 28px;
  }

  .athlets-players__row:first-child {
    background-color: #ffffff;
    padding-top: 44px;
    padding-bottom: 14px;
  }

  .athlets-players__row-number {
    font-size: 18px;
  }

  .athlets-players__row-number::after {
    height: 5px;
    width: 19px;
  }

  .athlets-players__row-title {
    margin: 5px 0 0 11px;
    font-size: 32px;
  }

  .players__image-container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 40px;
    width: 100%;
  }

  .players__image {
    width: 57vw;
    max-width: 450px;
  }

  .approach-card__image-container {
    min-height: 50vw;
  }

  .approach-card__number-container {
    width: 115px;
    height: 115px;
    bottom: -32px;
    left: 33px;
  }

  .approach-card__number {
    font-size: 24px;
    padding-top: 38px;
  }

  .approach-card__number::after {
    height: 5px;
    width: 25px;
    margin-top: 7px;
  }

  .approach-card__content {
    padding: 58px 33px 98px 30px;
  }

  .approach-card__title {
    font-size: 70px;
  }

  .approach-card__text {
    margin-top: 11px;
    font-size: 24px;
    line-height: 28px;
  }

  .approach-card__paragraph {
    margin: 0;
    letter-spacing: 1px;
  }

  .footer::after {
    background-image: url(../images/game_1280.jpg);
  }

  .footer__container {
    padding: 125px 33px 18px 33px;
  }

  .app-logo {
    width: 130px;
    height: 135px;
    max-width: 130px;
    max-height: 135px;
    border-radius: 28px;
  }

  .footer__title {
    font-size: 68px;
    margin-top: 57px;
  }

  .footer__subtitle {
    font-size: 30px;
    margin-top: 0;
  }

  .footer__download-items-list {
    margin-top: 272px;
    display: flex;
    justify-content: center;
  }

  .footer__main-logo-container {
    margin-top: 56px;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 750px) {
  .header__main-title,
  .header__sub-title {
    font-size: 64px;
  }

  .approach-card__title {
    font-size: 80px;
  }

  .footer__title {
    font-size: 80px;
    margin-top: 57px;
  }

  .footer__subtitle {
    font-size: 36px;
    margin-top: 0;
  }
}

@media (min-width: 961px) {
  .header::after {
    background-image: url(../images/football_1920.jpg);
  }

  .header__container {
    padding: 44px 20px 110px 20px;
  }

  .main-logo-svg {
    width: 190px;
  }

  .header__title-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 261px;
  }

  .header__main-title,
  .header__sub-title {
    font-size: 64px;
  }

  .header__main-title {
    margin-top: 0;
    margin-left: 0;
  }

  .header__sub-title {
    margin-left: 30%;
    margin-top: 0;
    line-height: 90px;
  }

  .header__download-items-list {
    margin-top: 200px;
  }

  .download__item:nth-child(n + 2) {
    margin-left: 45px;
    margin-top: 0;
  }

  .athlets__image-container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30px;
    width: 100%;
    left: -290px;
  }

  .athlets__image {
    width: 565px;
    max-width: 600px;
  }

  .athlets-players__content {
    padding-top: 103px;
  }

  .athlets-players__title {
    font-size: 80px;
  }

  .row_right-positioning,
  .athlets__title {
    padding-left: 50%;
  }

  .row_left-positioning,
  .players__title {
    padding: 0 0 0 9%;
    width: 40%;
  }

  .athlets-players__row {
    padding: 54px 0 30px 0;
    font-size: 20px;
  }

  .athlets-players__row:first-child {
    padding-top: 91px;
    padding-bottom: 31px;
  }

  .athlets-players__row-title {
    font-size: 36px;
  }

  .players__image-container {
    justify-content: center;
    top: 30px;
    width: 100%;
    left: 18%;
  }

  .players__image {
    width: 60vw;
    max-width: 960px;
    min-width: 750px;
  }

  .approach__section {
    width: 100%;
  }

  .approach-card {
    display: flex;
    width: 100%;
  }

  .approach-card__image-number-container {
    width: 50%;
    box-sizing: border-box;
  }

  .approach_card__image-container {
    width: 50%;
  }

  .approach-card__image {
    width: 100%;
    display: block;
  }

  .approach-card__number-container {
    width: 17.4%;
    height: 21.3%;
    bottom: 50%;
    left: calc(100% - 17.4% / 2);
  }

  .approach-card__number {
    padding-top: 35%;
  }

  .approach-card__content {
    width: 50%;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .approach-card__title {
    padding-top: 25.5%;
    padding-left: 13%;
    font-size: 48px;
  }

  .approach-card__text {
    padding-top: 5.5%;
    padding-left: 13.7%;
    padding-bottom: 5.2%;
    font-size: 18px;
  }

  .approach-card:nth-child(even) > .approach-card__content {
    order: -1;
  }

  .approach-card:nth-child(even)
    > .approach-card__image-number-container
    > .approach-card__number-container {
    left: calc(-17.4% / 2);
  }

  .footer::after {
    background-image: url(../images/game_1920.jpg);
  }

  .footer__container {
    padding: 225px 33px 18px 33px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .app-logo {
    width: 130px;
    height: 135px;
    max-width: 130px;
    max-height: 135px;
    border-radius: 28px;
    margin-right: 15px;
  }

  .footer__title {
    font-size: 80px;
    margin-top: 0;
    letter-spacing: 3px;
    line-height: 100px;
    padding-left: 20px;
  }

  .footer__subtitle {
    font-size: 30px;
    margin-top: 0;
    text-align: left;
    padding-left: 25px;
    line-height: 35px;
  }

  .footer__download-items-list {
    margin-top: 125px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .header__main-title,
  .header__sub-title {
    font-size: 75px;
  }

  .approach-card__title {
    padding-top: 25.5%;
    padding-left: 12%;
    font-size: 62px;
  }

  .approach-card__text {
    padding-top: 6.5%;
    padding-left: 12.7%;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .header__container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__main-title,
  .header__sub-title {
    font-size: 90px;
  }

  .main__container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .approach__section {
    width: 100%;
    max-width: 1920px;
  }

  .approach-card__title {
    font-size: 80px;
  }

  .approach-card__text {
    padding-top: 8.5%;
    padding-left: 13.7%;
    padding-bottom: 5.2%;
  }
}
